/* Preloader Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:black; /* change if the mask should have another color than white */
    z-index:99;
}

#status {
    border: 3px solid #333;
    border-radius: 40px;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    top: 50%;
    width: 40px;
    z-index: 1007;
    -webkit-animation: pulsate 1s ease-out infinite;
    -moz-animation: pulsate 1s ease-out infinite;
    -ms-animation: pulsate 1s ease-out infinite;
    -o-animation: pulsate 1s ease-out infinite;
    animation: pulsate 1s ease-out infinite;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    margin:-20px 0 0 -20px; /* is width and height divided by two */
}

/* Page Layout Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=PT+Sans&family=Ubuntu&display=swap');


/* Basic
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-family: 'fira sans', sans-serif;
}

button {
    font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #fafae2;
}

h2 {
    font-family:'Ubuntu', sans-serif;
    font-size: 50px;
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #fafae2; /**yellow tint white**/
}

a {
    color: rgb(219, 98, 82);
    font-weight: 700;
}

a:hover {
    color: rgb(221, 71, 51);
    font-weight: 700;
    text-decoration: none;
}

/* Font icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "prasto-font-icons";
  src:url("../fonts/prasto-font-icons.eot");
  src:url("../fonts/prasto-font-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/prasto-font-icons.woff") format("woff"),
    url("../fonts/prasto-font-icons.ttf") format("truetype"),
    url("../fonts/prasto-font-icons.svg#prasto-font-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "prasto-font-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "prasto-font-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e000";
}
.icon-twitter:before {
  content: "\e001";
}
.icon-google-plus:before {
  content: "\e002";
}
.icon-instagram:before {
  content: "\e003";
}
.icon-user:before {
  content: "\e004";
}
.icon-envelope:before {
  content: "\e005";
}
.icon-phone:before {
  content: "\e006";
}
.icon-date:before {
  content: "\e007";
}
.icon-clock:before {
  content: "\e008";
}
.icon-restaurant:before {
  content: "\e009";
}
.icon-cross:before {
  content: "\e00a";
}

/*------------------------------------------------------------------
[Header & Navigation]
*/

.header.headroom--top {
    background: transparent;
}

.header.headroom--pinned {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.header.headroom--unpinned {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}

.header.one-page-header.headroom--unpinned {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.header#navigation {
    position: relative;
    z-index: 2;
    height: 200px;
    width: 100%;
    -webkit-transition: height 0.3s ease-out,
                        background 0.3s ease-out,
                        box-shadow 0.3s ease-out,
                        -webkit-transform 0.5s;
            transition: height 0.3s ease-out,
                background 0.3s ease-out,
                box-shadow 0.3s ease-out,
                -webkit-transform 0.5s;
            transition: height 0.3s ease-out,
                background 0.3s ease-out,
                box-shadow 0.3s ease-out,
                transform 0.5s;
            transition: height 0.3s ease-out,
                background 0.3s ease-out,
                box-shadow 0.3s ease-out,
                transform 0.5s,
                -webkit-transform 0.5s;
}

#navigation {
    background-image: 
        linear-gradient(to bottom, transparent 3%, black 25%, black 70%, transparent 95%);
    z-index: 2;
}

.header.headroom--not-top {
    background-color: #0d0d0d;
    height: 60px;
}

.header.header-dark {
    background-color: #0d0d0d;
}

.header .container {
    position: relative;
    display: table;
    height: 100%;
}

.nav-row {
    position: relative;
}

.inner-header {
    vertical-align: middle;
}

.inner-nav {
    text-align: center;
}

.extra-nav,
.inner-header {
    min-width: 127px;
}

.nav-toogle,
.inner-header,
.inner-navigation {
    display: table-cell;
    height: 100%;
}

.inner-nav,
.inner-navigation {
    width: 100%;
}

.inner-navigation-inline {
    display: inline-table;
    height: 100%;
    width: 100%;
}

.inner-nav,
.extra-nav {
    display: table-cell;
    height: 100%;
}

.extra-nav {
    white-space: nowrap;
}

.nav-toogle {
    display: none;
}

.inner-nav > ul,
.extra-nav > ul {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}

.inner-nav > ul > li,
.extra-nav > ul > li {
    display: inline-block;
    height: 100%;
}

.inner-nav > ul > li > a,
.extra-nav > ul > li > a {
    display: block;
    padding: 0 15px;
    line-height: 20px;
    color: #fafae2;
    height: 100%;
    text-transform: uppercase;
}

.inner-nav > ul > li > a:hover,
.inner-nav > ul > li > a.active,
.extra-nav > ul > li > a:hover,
.extra-nav > ul > li > a.active {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.inner-nav > ul > li > a::after,
.inner-nav > ul > li > a::before,
.extra-nav > ul > li > a::after,
.extra-nav > ul > li > a::before {
    content: "";
    display: block;
    height: 50%;
    height: 17px;
    height: calc(50% - 12px);
}

.extra-nav > ul {
    padding-left: 10px;
    margin-left: 20px;
}

.extra-nav > ul > li > a {
    font-size: 16px;
}

.has-submenu.submenu-left {
    position: relative;
}

.has-submenu.submenu-left .submenu {
    right: 0;
}

.submenu {
    border-top: 2px solid #c78f53;
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu .submenu {
    left: 100%;
    top: -14px;
}

.submenu li {
    position: relative;
}

.submenu li > a {
    display: block;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
    padding: 8px 20px 8px 20px;
    color: #969696;
}

.submenu li > a:hover {
    background: rgba(34, 34, 34, 0.3);
    padding-left: 25px;
    color: #ffffff;
}

.submenu .nav-box,
.submenu .submenu-title {
    padding: 8px 20px;
}

.submenu .submenu-title {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: #ffffff;
}

.submenu .has-submenu.submenu-open > a {
    background: rgba(34, 34, 34, 0.3);
    color: #ffffff;
}

.submenu {
    position: absolute;
    background-color: #0d0d0d;
    padding: 12px 0;
    min-width: 180px;
    opacity: 0;
    z-index: 1030;
    visibility: hidden;
    text-align: left;
    font-size: 13px;
    color: #969696;
    top: 100%;
}

.submenu h1,
.submenu .h1,
.submenu h2,
.submenu .h2,
.submenu h3,
.submenu .h3,
.submenu h4,
.submenu .h4,
.submenu h5,
.submenu .h5,
.submenu h6,
.submenu .h6 {
    color: #ffffff;
}

.submenu hr {
    border-color: rgba(255, 255, 255, 0.1);
}

.submenu-open > .submenu {
    visibility: visible;
    opacity: 1;
}

.submenu-mega {
    background-size: cover;
    display: table;
    width: 100%;
    right: 0;
    left: 0;
}

.submenu-mega > li {
    display: table-cell;
    vertical-align: top;
    width: 25%;
}



.submenu-mega > li > ul {
    list-style: none;
    padding: 0 0;
    margin: 0;
}

.nav-box .form-control {
    width: auto;
}

.nav-cart-table {
    margin: 0;
}

.nav-cart-table > tbody > tr > td {
    vertical-align: middle;
    padding: 10px 0;
    border: 0;
}

.nav-cart-table > tbody > tr:not(:last-child) > td {
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

.nav-cart-table > tbody > tr > td:first-child {
    padding-right: 16px;
    width: 76px;
}

.nav-cart-table > tbody > tr > td:first-child > img {
    max-width: 60px;
    width: 60px;
}

.nav-cart-table .nav-cart-title {
    display: block;
    color: #969696;
    margin: 0 0 5px;
}

.nav-cart-table .nav-cart-title:hover {
    color: #ffffff;
}

@media (min-width: 992px) {
    .inner-navigation.collapse {
        display: table-cell !important;
    }
} 

@media (max-width: 991px) {
    .nav-toggle {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
    }

    .inner-navigation,
    .inner-navigation-inline,
    .inner-nav,
    .extra-nav {
        height: auto;
    }

    .inner-nav ul > li,
    .extra-nav ul > li {
        display: block;
        height: auto;
    }

    .inner-nav ul > li > a,
    .extra-nav ul > li > a {
        display: block;
    }

    .inner-nav ul > li > a::after,
    .inner-nav ul > li > a::before,
    .extra-nav ul > li > a::after,
    .extra-nav ul > li > a::before {
        content: none;
    }

    .inner-navigation {
        position: absolute;
        background: #0d0d0d;
        max-height: 340px;
        width: 100%;
        left: 0;
        top: 100%;
    }

    .inner-navigation.in {
        overflow-y: auto;
    }

    .inner-navigation-inline {
        display: block;
        padding: 30px 15px;
    }

    .inner-nav,
    .extra-nav {
        text-align: left;
        display: block;
    }

    .extra-nav ul {
        border: 0;
        padding: 0;
        margin: 0;
    }

    .inner-navigation.collapse {
        display: none;
    }

    .inner-navigation.collapse.in {
        display: block;
    }

    .inner-nav > ul > li > a,
    .extra-nav > ul > li > a,
    .submenu li > a,
    .submenu > li > a {
        padding: 10px 0;
        box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
    }

    .inner-nav > ul > li > a:hover,
    .extra-nav > ul > li > a:hover,
    .submenu li > a:hover,
    .submenu > li > a:hover {
        background: transparent;
        padding: 10px 0;
    }

    .submenu .nav-box,
    .submenu .submenu-title {
        padding: 20px 0 10px;
    }

    .submenu .has-submenu.submenu-open > a {
        background: transparent;
    }

    .submenu {
        border: 0;
        padding: 0 0 0 15px;
    }

    .submenu,
    .submenu .submenu,
    .submenu.submenu-mega {
        background: transparent;
        background-image: none !important;
        display: none;
        margin: 0;
    }

    .submenu-open > .submenu {
        position: static;
        display: block !important;
    }

    .submenu-mega > li:not(:last-child) {
        border: 0;
    }

    .submenu-mega > li {
        display: block;
        width: 100%;
        padding: 0;
    }

    .nav-box .form-control {
        width: 100%;
    }
} 

@media (max-width: 767px) {
    .header .container {
        width: 100%;
    }

    .inner-navigation-inline {
        display: block;
    }
}


/* Banner Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#home {
    color: #fafae2;
    text-align: center;
    background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1601404719/brush-metal-star3_fkowsj.jpg");
    background-position: center top;
    background-size: cover;
    margin-top: -200px;
}

#home h2 {
    font-size: 70px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.slides .btn-primary{
    margin-top: 20px;
}

.slides-pagination {
    display: none;
}

.caption {
    position: absolute;
    left: 0;
    top: 70%;
    margin-top: -240px;
    width: 100%;
    color: #fafae2;
    padding: 0 25px;
}

#home p {
    color: #fafae2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#home .btn-primary{
    margin-top: 20px;
}

/* About Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#caption-wrapper {
    display: block;
    color: rgb(133, 133, 133);
    font-size: 95%;
    padding: 5px;
}


#about {
    background: #161615;
    position: relative;
}

#about h2 {
    border-bottom: 1px solid #fafae2;
}

#about h3 {
    font-family: 'Roboto', sans-serif;
    border-bottom: #AB0201 1px solid;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: #AB0201;
}

.history {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 600px;
}

.photo-container{
    position: absolute;
    height: 100%;
    margin-top: 75px;
    margin-left: 5vw;
}

.background-image-holder{ 
    max-width: 425px;
    height: 100%;
    z-index: 0;
    background-size: cover !important;
}

.divider-background {
    background-size: cover !important;
    overflow: hidden;
}

#icon-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    justify-items: center;
    margin: 5rem 0 0 0;
}

.icon-resize {
    filter: sepia(80%);
    height: 50px;
    width: 50px;

}

/* products
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.nutrition-link {
    display: block;
    margin: 1rem 0 1rem 0;
}

.buy-now {
    display: flex;
    align-self: center;
}

#our-menu h2 {
    text-align: center;
    display: block;
}

#our-menu {
    padding: 50px 0;
    color: #fafae2;
    -webkit-background-size: cover;
    background-size: cover;
    border-top: 20px solid rgba(87, 85, 85, 0.37);
    border-bottom: 20px solid rgba(87, 85, 85, 0.37);
    background-color: black;
    background-size: contain;
    background-position: 0% 0%;
    background-attachment: fixed;
    animation-duration: 30s;
}

#our-menu h3 {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.menu-tabs {
    border-bottom: 2px solid #DDD;
    margin: 0 0 40px 0;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: none;
    text-align: center;
}

.menu-tabs > li.active > a,
.menu-tabs > li.active > a:focus,
.menu-tabs > li.active > a:hover {
    border-width: 0;
}

.menu-tabs > li > a {
    border: none;
    color: #666;
}

.menu-tabs > li.active > a,
.menu-tabs > li > a:hover {
    border: none;
    color: #fafae2 !important;
    background: transparent;
}

.menu-tabs > li > a::after {
    content: "";
    background: #fafae2;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.menu-tabs > li.active > a::after,
.menu-tabs > li:hover > a::after {
    transform: scale(1);
}

.menu-tabs li,
.menu-tabs li a {
    display: inline-block;
}

.menu-tabs li {
    float: none;
}

.menu-tabs>li.active>a,
.menu-tabs>li.active>a:hover,
.menu-tabs>li.active>a:focus {
    background: none;
    color: #fafae2;
}

.menu-tabs li a {
    color: #D2D2D2;
    border-radius: 0;
    display: inline-block;
    margin: 0 6px;
}

.menu-group-item {
    border-bottom: 2px dashed rgb(51, 51, 51);
    display: flex;
    margin: 0;
    padding: 5rem 0 5rem 0;
    background-color: rgba(0, 0, 0, 0.719);
}

.menu-group-item:hover {
}

@keyframes star-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 25% 50%;
    }
}

.menu-title {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
    margin: 5px 0px 10px 0px;

}

.menu-descp {
    color: rgb(133, 133, 133);
}


/* Press Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#blog {
    padding: 50px 0;
    background: #0C0C0C;
    color: #fafae2;
}

#blog h2 {
    text-align: center;
    margin-bottom: 50px;
}

.post {
    margin-bottom: 40px;
}

.post h4 {
    margin-bottom: 10px;
}

.contrast-text {
    color:rgb(219, 98, 82);
    font-weight: 700;
}

.post a {
    color: #fafae2;
    font-weight: 300;
}

.post p {
    line-height: 23px;
}

.post .date {
    border-top: 1px solid #fafae2;
    padding-top: 15px;
    padding-bottom: 5px;
    display: block;
}

.post .content {
    margin-top: 20px;
}

.post-img-content:hover {
    filter: opacity(50%);
}


/* Where to buy section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.reservation {
    text-align: center;
}

.reserve-header p {
    color:#fafae2;
}

#map {
    width: 100%;
    height: 0;
}

.reservation h2 {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    color: #fafae2;
}

.reserve-header {
    background: url(../images/dinner-table.jpg)  no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 50px 0;
    text-align: center;
}

/* Contact section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#contact {
    background-image: url(https://res.cloudinary.com/dsldlqqsb/image/upload/v1596572482/brushed-metal-background_xl7411.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

#contact-container {
    display: flex;
    justify-content: center;
    padding: 4rem;
}

#contact-photo {
    width: auto;
    height: 350px;
    border: #C7C7C7 2px solid;
    margin: 10px;
}

.contact-details { /**Outer contact box**/
    height: 350px;
    width: 400px;
    margin: 10px;
    background: #161615;
    border: #C7C7C7 2px solid;
    padding: 25px;
}

.contact-details h2 {
    margin: 0;
}

.contact-details p {
    line-height: 24px;
    font-size: 15px;
    margin-bottom: 20px;
}

.contact-phone, .contact-email{
    margin-bottom: 10px;
}

#contact.icon {

}

/* Footer section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
    background: #0C0C0C;
    color: #fafae2;
    padding: 18px;
    text-align: center;
}

footer p {
    margin-bottom: 0;
    font-size: 14px;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 580) {
    .pushy-active #hamburger {
        right: 10px;
    }
}

@media only screen and (max-width: 640px)  {
#home h2{
    font-size: 46px;
    }
}

@media only screen and (max-width: 990px)  {
   .history{
   min-height: 100%;
    }
}

@media only screen and (min-width: 991px) {
    #home {
        background-image: url("https://res.cloudinary.com/dsldlqqsb/image/upload/v1601404718/brush-metal-star2_llhbba.jpg");
    }
}

@media only screen and (max-width: 349px)  {
   .close-btn{
   display:block !important;
    }
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* BUTTONS */
.btn-primary{
    background:none;
    padding: 14px;
    color: #fafae2;
    text-transform: uppercase;
    font-weight: 500;
    border:#fafae2 2px solid;
    -webkit-box-shadow: none;
    box-shadow: none;: 
 -webkit-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
   -moz-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
     -o-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
        transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background: #fafae2;
    border: #fafae2 2px solid;
    color:#000;
}

.reservation-form .btn-primary {
    background: #DE403C;
    border:none;  
}

.reservation-form .btn-primary:hover, .reservation-form .btn-primary:focus, .reservation-form .btn-primary:active {
    color: #fafae2;
    background: #D03834;
}

/* Helper Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.p-l-n {
    padding-left: 0 !important;
}

.f-n{
    float: none;
}